<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <title>Edit profile</title>
</head>
<header th:insert="fragments/header :: header"></header>
<body>
<form th:action="@{/update}" th:object="${employee}" method="post" enctype="multipart/form-data">
    <div class="alert alert-info" th:if="${exist}">
        <p class="text text-center">
            Employee with this Email already Exist
        </p>
    </div>
    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Edit Profile</p>

                                    <form class="mx-1 mx-md-4">

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="text" th:field="*{name}" id="name" class="form-control"/>
                                                <label class="form-label" for="form3Example1c">Your Name</label>
                                                <div class="text text-danger" th:if="${#fields.hasErrors('name')}"
                                                     th:errors="*{name}"></div>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="text" th:field="*{jobTittle}" id="jobTittle"
                                                       class="form-control"/>
                                                <div class="text text-danger" th:if="${#fields.hasErrors('jobTittle')}"
                                                     th:errors="*{jobTittle}"></div>
                                                <label class="form-label" for="form3Example4c">Job tittle</label>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="tel" th:field="*{phone}" id="phone"
                                                       class="form-control"/>
                                                <div class="text text-danger" th:if="${#fields.hasErrors('phone')}"
                                                     th:errors="*{phone}"></div>
                                                <label class="form-label" for="form3Example3c">Your number phone</label>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="image" class="form-label">Choose image</label>
                                            <input class="form-control" type="file" th:field="*{image}" id="image" multiple>
                                        </div>

                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                            <button type="submit" value="Submit" class="btn btn-primary btn-lg">
                                                Update
                                            </button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
</body>
</html>